In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [10]:
bank=pd.read_csv("/Users/LENOVO/Downloads/bank-full.csv",sep=';')

In [11]:
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [12]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [13]:
bank.drop(["job","marital","education","default","contact","day","month","previous","poutcome"],inplace=True,axis=1)

In [14]:
bank.head()

   age  balance housing loan  duration  campaign  pdays   y
0   58     2143     yes   no       261         1     -1  no
1   44       29     yes   no       151         1     -1  no
2   33        2     yes  yes        76         1     -1  no
3   47     1506     yes   no        92         1     -1  no
4   33        1      no   no       198         1     -1  no

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
labelencoder = LabelEncoder()
for x in bank.columns:
    bank.loc[: ,x]=labelencoder.fit_transform(bank.loc[:,x])

In [17]:
bank=bank.dropna()
bank.shape

(45211, 8)

In [18]:
X = bank.iloc[:,:7]
Y = bank.iloc[:,7]

In [19]:
Y.value_counts()

0    39922
1     5289
Name: y, dtype: int64

In [20]:
for x in X.columns:
    print(X[x].value_counts())

14    2085
13    1996
15    1972
16    1930
17    1894
      ...
73       2
72       2
70       2
76       2
75       1
Name: age, Length: 77, dtype: int64
916     3514
917      195
918      156
920      139
919      134
        ...
3950       1
6029       1
6061       1
6093       1
16         1
Name: balance, Length: 7168, dtype: int64
1    25130
0    20081
Name: housing, dtype: int64
0    37967
1     7244
Name: loan, dtype: int64
124     188
90      184
89      177
122     175
104     175
       ...
1360      1
1328      1
1264      1
1232      1
1567      1
Name: duration, Length: 1573, dtype: int64
0     17544
1     12505
2      5521
3      3522
4      1764
5      1291
6       735
7       540
8       327
9       266
10      201
11      155
12      133
13       93
14       84
15       79
16       69
17       51
18       44
19       43
20       35
21       23
24       22
22       22
23       20
27       16
28       16
25       13
30       12
26       10
31        9
29        8
32        6
33        5
35        4
34        4
37        3
40        3
39        2
36        2
43        2
47        1
42        1
41        1
44        1
45        1
46        1
38        1
Name: campaign, dtype: int64
0      36954
179      167
89       147
88       126
180      126
       ...
484        1
215        1
551        1
519        1
392        1
Name: pdays, Length: 559, dtype: int64

In [21]:
classifier = LogisticRegression()
classifier.fit(X,Y)

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [22]:
y_pred = classifier.predict(X)

In [23]:
y_pred

array([0, 0, 0, ..., 1, 0, 0])

In [24]:
y_pred_df=pd.DataFrame({'actual': Y,
                       'predicted_prob':classifier.predict(X)})

In [25]:
y_pred_df

       actual  predicted_prob
0           0               0
1           0               0
2           0               0
3           0               0
4           0               0
...       ...             ...
45206       1               1
45207       1               0
45208       1               1
45209       0               0
45210       0               0

[45211 rows x 2 columns]

In [26]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(Y,y_pred)
print (confusion_matrix)

[[38964   958]
 [ 4087  1202]]

In [27]:
((38978+1199)/(38978+944+4090+1199))*100

88.86554157174139

In [28]:
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

           0       0.91      0.98      0.94     39922
           1       0.56      0.23      0.32      5289

    accuracy                           0.89     45211
   macro avg       0.73      0.60      0.63     45211
weighted avg       0.86      0.89      0.87     45211

In [29]:
test_data = pd.DataFrame({'age':[45],'balance':[800],'housing':['no'],'loan':['yes'],'duration':[900],'campaign':[4],'pdays':[-2]})

In [30]:
test_data

   age  balance housing loan  duration  campaign  pdays
0   45      800      no  yes       900         4     -2

In [31]:
labelencoder = LabelEncoder()
for x in test_data.columns:
    test_data.loc[: ,x] = labelencoder.fit_transform(test_data.loc[:,x])
    
y_preds = classifier.predict(test_data)

In [32]:
y_preds

array([0])